/* Lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --grey-color: #ccd0d9;
  --red-color: #8a2c2d;
  --blue-color: #497895;
  --green-color: #598637;
  --black-color: #090f0b;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg-color-name-title {
  background-color: ;
}

.header {
    margin: 0;
}

.logo {
    background: url("../images/johanbhennius.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 22.5rem;
    min-width: 22.5rem;
    transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
}
