/* Lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*----------------------------------------------------Custom colors */
:root {
  --l-greyblue-color: #9ab1c3;
  --d-greyblue-color: #b9c1cd;
  --red-color: #8a2c2d;
  --blue-color: #497895;
  --green-color: #598637;
  --black-color: #090f0b;
  --white-color: #fbfaf6;
}

/*-----------------------------------------------------Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*-----------------------------------------------------Colors */

.bg-color-name-title {
  background-image: linear-gradient(to right, var(--l-greyblue-color) 66%, var(--d-greyblue-color));
}

.ui-menu-color-home {
  background-color: var(--l-greyblue-color);
}

.ui-menu-color-resume {
  background-color: var(--red-color);
}

.ui-menu-color-contact {
  background-color: var(--green-color);
}

.ui-menu-color-download {
  background-color: var(--black-color);
}

/*-----------------------------------------------------Heading */

.header {
  margin: 0;
}

.heading {
  margin-left: 3rem;
}

.logo {
    background: url("../images/johanbhennius.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 22.5rem;
    transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
}

.name {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 2em;
  color: var(--white-color);
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.33rem;
  color: var(--white-color);
  margin-bottom: 2.5em;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#nav li {
  font-size: 1rem;
}

.menuitem {
  height: 7.5rem;
  text-align: center;
  padding: 0;
}
.menuitem a {
  width: 100%;
  text-decoration: none;
  color: var(--white-color);
  height: 7.5rem;
}

.menuitem a i {
  padding-top: 1.25rem;
  display: block;
  color: var(--white-color);
  font-size: 1.25rem;
  padding-bottom: .25rem;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: .25rem;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .1rem;
}